.completeAll {
    padding: 15px 50px;


    & div {
        margin-top: 0;
    }

    & span {
        color: var(--color-blue);
        margin-top: 1px;
        display: inline-block;

    }
}

.execution {
    cursor: pointer;
    margin: 2px 11px 0 0;

    display: inline-block;
    vertical-align: top;
    height: 14px;
    width: 14px;

    &:before {
        content: '';
        background-color: transparent;
        border: 3px solid var(--color-blue);
        border-radius: 50%;
        transition: all 0.2s ease;

        display: block;
        height: 7px;
        width: 7px;
    }

    &:hover,
    &.active {
        &:before {
            background-color: var(--color-blue);
        }
    }
}