.todo {
    background-color: white;
    border-radius: 8px;
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
    width: 590px;

    & h1 {
        color: var(--color-text-gray);
        font-weight: 300;
        padding: 25px 35px 15px;
    }

    & .search {
        padding: 0 35px;
        margin-bottom: 33px;

        & input {
            caret-color: rgba(0, 0, 0, 0.4);
            color: var(--color-text-black);
            font-size: 36px;
            font-weight: 700;
            height: 31px;
            outline: none;
            border: none;

            &::placeholder {
                color: var(--color-gray);
                font-weight: 700;
            }
        }
    }

    & .filter {
        padding: 0 35px;
        border-bottom: 1px solid var(--color-gray);

        & div {
            color: var(--color-text-gray);
            cursor: pointer;
            border-bottom: 1px solid transparent;
            font-size: 12px;
            margin-right: 30px;
            padding-bottom: 15px;
            transition: all 0.2s ease;

            display: inline-block;
            vertical-align: top;

            position: relative;
            top: 1px;

            &:last-child {
                margin-right: 0;
            }

            & span {
                background-color: var(--color-blue-light);
                border-radius: 6px;
                color: var(--color-white);
                font-size: 8px;
                line-height: 6px;
                padding: 2px 6px;
                margin-left: 1px;
                transition: background-color 0.2s ease;

                display: inline-block;

                position: relative;
                top: -1px;
            }

            &.active,
            &:hover {
                color: var(--color-text-black);
                border-bottom: 1px solid var(--color-blue);

                & span {
                    background-color: var(--color-blue);
                }
            }
        }
    }

    & .list {
        padding: 30px 35px;

        position: relative;
        height: 410px;

        &:before,
        &:after {
            content: '';
            pointer-events: none;

            display: block;
            height: 100px;
            width: 100%;

            position: absolute;
            left: 0;
        }

        &:before {
            /*background: linear-gradient(to bottom, white 10%, transparent);*/

            top: 0;
        }

        &:after {
            /*background: linear-gradient(to top, white 10%, transparent);*/

            bottom: 0;
        }
    }

    & .task {
        background-color: var(--color-white);
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 var(--color-shadows);
        margin-bottom: 15px;
        padding: 14px 15px;
        transition: all .5s ease;

        height: 44px;

        position: relative;

        &:hover {
            box-shadow: 0 4px 6px 0 var(--color-shadows);
        }

        & span,
        & form {
            display: inline-block;
            vertical-align: top;
        }

        & span {
            line-height: 10px;
            font-size: 13px;
            font-weight: 300;
            margin: 3px 40px 0 0;
        }

        & form {
            position: relative;
            width: 350px;
        }

        & input {
            border: none;
            outline: none;
            height: 16px;
            width: 100%;
        }
    }

    & .execution {
        cursor: pointer;
        margin: 2px 11px 0 0;

        display: inline-block;
        vertical-align: top;
        height: 14px;
        width: 14px;

        &:before {
            content: '';
            background-color: transparent;
            border: 3px solid var(--color-blue);
            border-radius: 50%;
            transition: all 0.2s ease;

            display: block;
            height: 7px;
            width: 7px;
        }

        &:hover,
        &.active {
            &:before {
                background-color: var(--color-blue);
            }
        }
    }

    & .tools {
        position: absolute;
        top: 14px;
        right: 15px;

        & .favorite {
            margin-right: 13px;
            height: 16px;
            width: 15px;
        }

        & .edit {
            margin-right: 16px;
        }

        & .edit,
        & .remove {
            height: 13px;
            width: 13px;
        }

        & .favorite,
        & .edit,
        & .remove {
            cursor: pointer;

            & path {
                fill: #dddddd;
                transition: all 0.2s ease;
            }

            &:hover,
            &.active {
                & path {
                    fill: #5278e8;
                }
            }
        }
    }

    & .completeAll {
        padding: 15px 50px;


        & div {
            margin-top: 0;
        }

        & span {
            color: var(--color-blue);
            margin-top: 1px;
            display: inline-block;

        }
    }

    & .newTask {
        background-color: #eeeeee;
        border-top: 1px solid #dddddd;

        padding: 20px 35px 25px;

        & form {
            position: relative;
            height: 30px;
            width: 100%;
        }

        & input,
        & button {
            font-size: 12px;

            height: 100%;
        }

        & input {
            background-color: #ffffff;
            border-radius: 4px 0 0 4px;
            border: none;
            padding: 0 15px;
            width: calc(100% - 75px);
        }

        & button {
            background-color: var(--color-blue);
            border: none;
            border-radius: 0 4px 4px 0;
            color: white;
            width: 75px;
        }
    }


}